<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Principal's Welcome | Al Maaref American School</title>
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
        <link rel="stylesheet" href="assets/styles.css">
        <link rel="icon" type="image/x-icon" href="assets/images/logo/favicon_io/favicon.ico">
        <!-- Apple devices -->
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/logo/favicon_io/apple-touch-icon.png">
        <!-- Modern browsers -->
        <link rel="icon" sizes="32x32" href="assets/images/logo/favicon_io/favicon-32x32.png" type="image/png">
        <link rel="icon" sizes="192x192" href="assets/images/logo/favicon_io/android-chrome-192x192.png" type="image/png">
        
        <script src="https://unpkg.com/htmx.org@1.9.6"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="assets/script.js"></script>
    </head>
    
    <body class="bg-white">

    <!-- Header -->
    <!-- Top Header (not sticky) -->

    
    <div hx-get="partials/navbarv1.html" hx-trigger="load" hx-swap="outerHTML"></div>

    <!-- Hero Section -->
    <section
        class="relative h-[70vh] -mt-[160px] bg-cover bg-center flex items-center justify-center" style="background-image: url('assets/images/school.JPG');">
        <div class="absolute inset-0 bg-black bg-opacity-50"></div>
        <div class="relative z-10 flex items-center justify-center h-full text-white">
            <h1 class="text-4xl md:text-5xl font-bold">Principal Message</h1>
        </div>
    </section>

    <!-- Main Content -->
    <section class="py-16 bg-white">
        <div class="max-w-7xl mx-auto px-6 grid md:grid-cols-2 gap-10">
            <!-- Image -->
            <div>
            <img
            src="assets/images/portratis/principal.png"
            alt="Principal"
            class=" w-full object-cover shadow-md"
            />
        </div>

        <!-- Text -->
        <div class="text-justify text" >
        <h2 class="text-2xl md:text-3xl font-semibold mb-4 h-24">
            A Warm Welcome from Our Principal, D. Pinkerton
            </h2>
          <p class="mb-4 text-xl">
            As-salamu alaikum. It is with great pleasure and enthusiasm that I join Al Maaref American School community 
            which is so rich in tradition, Islamic values, and desire bring out the best of its students. 
            As your dedicated principal, I bring a wealth of experience from my many years of leadership in the USA, Italy, Bahrain, and the UAE. 
            Having worked in both the US and the GCC region for several years, I have a solid foundation
            in blending the American curriculum, teaching methods, and philosophies alongside the unique culture of the UAE.
          </p>
          <p class="mb-4 text-xl">
            One of my core passions is promoting student agency—empowering our young learners to take ownership of their education
            and become active contributors to their community. I believe in cultivating not only academic excellence but also the 
            values of compassion, respect, and responsibility.
          </p>
          <p class="mb-4 text-xl">
            I believe that education extends beyond the classroom walls so 
            I will work to ensure that students are provided with a range of activities to broaden their learning experiences. 
            I will continue to recognize the importance of a school community that values open communication, collaboration, and the well-being of every child.
          </p>
          <p class="text-xl">
            I am excited about the journey ahead and look forward to partnering with you to shape a 
            bright and promising future for our students. Together, let us create a nurturing space 
            where our children can flourish academically, spiritually, and socially.
          </p>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <div hx-get="partials/footer.html" hx-trigger="load"></div>
    </body>
</html>
